$yellow:    #FFC500;
$purple:    #7700FF;
$teal:      #00A88A;
$black:     #000000;
$white:     #ffffff;
$secondary: #8F7C3C;
$border:    rgba(143, 124, 60, 0.10);

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;

    &:focus-visible {
        outline: none;
        outline-offset: 0px;
        box-shadow: 0px 0px 0px 4px #FFF, 0px 0px 0px 8px #00A88A;
    }
}

html {
    height: 100%;
}

body {
    font-family: new-hero, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #000;
    margin: 0;

    @media (max-width: 440px) {
        padding: 0;
    }
}


#root {
    display: flex;
    max-width: 440px;  
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 32px;
    background-image: url(../../public/assets/bg.png);
    background-repeat: repeat;
    background-size: 32px 32px;
    background-position: top center;
    overflow: hidden;
    position: relative;

    @media (max-width: 440px) {
        border-radius: 0;
    }  

    > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        align-self: stretch;
    }
}

button {
    font-family: new-hero, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 16px;
    border: none;
    transition: transform .1s cubic-bezier(0.51, 1.66, 0.68, 0.97);

    &:active {
        transform: scale(0.95);
    }
}

header {
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    button {
        background: $yellow;
        color: $black;
    }
}

.logo-container {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex: 1 0 0;
    align-self: stretch;

    h1 {
        color: $white;
        font-family: monotalic-narrow, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        margin: 0;
    }

    h2 {
        color: $yellow;
        font-size: 18px;
        font-weight: 800;
        line-height: 28px;
        margin: 0;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 32px 32px 0px 0px;
    background: $yellow;

    > div {
        display:flex;
        width: 100%;
        padding: 24px;
        border-bottom: 1px solid $border;

        &:last-child {
            border-bottom: none;
        }
    }

    .controls {
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        p {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 28px; 
            color: $secondary;
        }

        button {
            background: $secondary;
            color: $white;
        }
    }

    .share {
        padding-bottom: 40px;

        #share {
            width: 100%;
            padding: 16px;
            align-items: center;
            gap: 8px;
            flex: 1 0 0;
            border-radius: 40px;
            background: $black;
            color: $white;
            font-size: 18px;
            line-height: 28px;
            border: none;
        }
    }
}

.pbs-gap-filler, .pbs-container .pbs-gap-filler {background: $yellow;}

.pbs-container {
    background: $yellow;
    border-radius: 32px 32px 0 0;

    .pbs-handle-bar {
        background-color: $secondary;
    }

    &.open {
        max-width: 440px;  
        width: 100% !important;
    }

    .pbs-content-wrapper {
        > div > div {
            padding: 24px;
            text-align: center;
            border-bottom: 1px solid $border;

            &:last-child {
                border-bottom: none;
            }

            p > span, p a {
                color: $purple;
                font-family: monotalic-narrow, sans-serif;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}





